</div>
</div>
<div id="footer">
	<div class="row">
		<div class="twelve columns">
			
			<p class="text-center" style="font-size: 18px;"> <br /> 
				Just <span id="defaultCountdown"></span> until The Big Day! <br />
				<span style="font-size: 16px;">Made with love by Ciar&aacute;n and Diana</span>
				
			</p>
		</div>
	</div>
</div>  
	<!-- Included JS Files (Compressed) -->
	<script src="/javascripts/jquery.js"></script>
	<script src="/javascripts/foundation.min.js"></script>
	<script src="/javascripts/jquery.countdown.min.js"></script>
	<!-- Initialize JS Plugins -->
	<script src="/javascripts/app.js"></script>
