</div>
</div>
<div id="footer">
	<div class="row">
		<div class="twelve columns">
			
			<p class="text-center" style="font-size: 18px;"> <br /> 
				Just <span id="defaultCountdown"></span> until The Big Day! <br />
				<span style="font-size: 16px;">Made with love by Ciar&aacute;n and Diana</span>
				
			</p>
		</div>
	</div>
</div>  
	<!-- Included JS Files (Compressed) -->
	<script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.1/jquery.min.js"></script>
	<script src="/javascripts/foundation.min.js"></script>
	<script src="/javascripts/foundation.clearing.js"></script>
	<script src="/javascripts/jquery.countdown.min.js"></script>
	<!-- Initialize JS Plugins -->
	<script src="/javascripts/app.js"></script>
	<script type="text/javascript" src="http://s.skimresources.com/js/59X96.skimlinks.js"></script>
	{% if page.url == "/rsvp" %}
	<!-- RSVP Validation plugin and init -->
	<script src="/javascripts/validate.js"></script>
	<script> new FormValidator("rsvp", rsvpFields, rsvpErrorCallback); </script>
	{% endif %}