	<!-- Included CSS Files -->
	<link rel="stylesheet" href="/stylesheets/foundation.css">
	<link rel="stylesheet" href="/stylesheets/app.css">
	{% if page.url == "/Our-Story" %}
	<link href='http://fonts.googleapis.com/css?family=Cherry+Swash' rel='stylesheet' type='text/css'>
	{% endif %}
	<script src="/javascripts/modernizr.foundation.js"></script>
	<!-- IE Fix for HTML5 Tags -->
	<!--[if lt IE 9]>
		<script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
	<![endif]-->
</head>
<body>
<script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-6471443-2']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>
{% if page.url != "/Live" %}
<a href="/live"><img style="position: absolute; top: 0; left: 0; border: 0;" src="/images/watch.png" alt="Watch us Live!"></a>
{% endif %}
<div id="wrap">
<div id="main">
	<!-- start nav -->
	<div id="nav-top">
		<div class="row nav-bg">
			<div class="four columns nav-left-top">
			</div>
			<div class="four columns nav-center-top bigscreenpic">
			</div>
			<div class="four columns nav-right-top bigscreenpic">
			</div>
			<div class="four columns text-center nav-left">
				<p>
					<a href="/Our-Story" class="left">Our&nbsp;Story</a>
					<a href="/wedding-party">Wedding&nbsp;Party</a>
					<a href="/our-big-day" class="right">Our&nbsp;Big&nbsp;Day</a>
				</p>
			</div>
			<div class="four columns nav-center text-center">
				<a href="/" class="home-link"><img src="/images/dandc.png" alt="home"/></a>
			</div>
			<div class="four columns text-center nav-right">
				<p>
					<a href="/out-of-towners" class="left">Out&nbsp;of&nbsp;Towners</a>
					<a href="/gift-registry">Gift&nbsp;Registry</a>
					<a href="/rsvp" class="right">RSVP</a>
				</p>
			</div>
		</div>
	</div>
	<!-- end-nav --> 
