
	<!-- Included CSS Files (Uncompressed) -->
	<link rel="stylesheet" href="/stylesheets/foundation.css">
	<link rel="stylesheet" href="/stylesheets/app.css">
	<link href='http://fonts.googleapis.com/css?family=Cherry+Swash' rel='stylesheet' type='text/css'>
	<script src="/javascripts/modernizr.foundation.js"></script>
	<!-- IE Fix for HTML5 Tags -->
	<!--[if lt IE 9]>
		<script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
	<![endif]-->
</head>
<body>
<div id="wrap">
<div id="main">
	<!-- start nav -->
	<div id="nav-top">
		<div class="row nav-bg">
			<div class="five columns text-center">
				<p>
					<a href="/Our-Story" class="left">Our Story</a>
					<a href="/wedding-party">Wedding Party</a>
					<a href="/the-big-day" class="right pad-right-50">The Big Day</a>
				</p>
			</div>
			<div class="two columns text-center">
				<a href="/" class="home-link"></a>
			</div>
			<div class="five columns text-center">
				<p>
					<a href="/out-of-towners" class="left pad-left-50">Out of Towners</a>
					<a href="/gift-registery">Gift Registry</a>
					<a href="/rsvp" class="right">RSVP</a>
				</p>
			</div>
		</div>
	</div>
	<!-- end-nav --> 