/* -------------------------------------------------- 
   Table of Contents
-----------------------------------------------------
:: Shared Styles
:: our-story
:: our-wedding-party
:: the big-day
:: out-of-towners
:: gift-registery
:: rsvp
:: footer
*/


/* -----------------------------------------
   Shared Styles
----------------------------------------- */

#nav-top{
background: #000066; 
color: #6699cc; 
width:100%
}
#nav-top a {
	color: #6699cc;
	text-decoration: none;
	text-shadow: 1px 1px 1px #000;
}
#nav-top a:hover { 
	color: #996600;
	text-decoration: underline;
}
#nav-top a:focus { 
	color: #996600;
	outline: none; 
}
.nav-bg {
	padding-bottom: 12px;
}
.nav-bg p {
	margin-top: 25px;
	font-size: 20px;
}
.pad-right-50 {
	padding-right:50px
}
.pad-left-50 {
	padding-left:50px
}
.pad-right-15 {
	padding-right:15px
}
.pad-left-15 {
	padding-left:15px
}
.home-link-off {
	display:block;
	width: 300px;
	margin-left: -70px;
	padding-right: 70px;
	height: 190px;
}
.nav-left {
	height: 90px;
	border-top: #996600 solid 3px;
	margin-top: 50px;
	border-bottom: #996600 solid 3px;
	box-shadow: 0px 2px 0px #000;
	-webkit-box-shadow: 0px 2px 0px #000;
	-moz-box-shadow: 0px 2px 0px #000;
}
.nav-center {
	padding-top: 2px;
}
.nav-right {
	height: 90px;
	border-top: #996600 solid 3px;
	margin-top: 50px;
	border-bottom: #996600 solid 3px;
	box-shadow: 0px 2px 0px #000;
	-webkit-box-shadow: 0px 2px 0px #000;
	-moz-box-shadow: 0px 2px 0px #000;
}
.rot-neg-90 {
	-moz-transform:rotate(-270deg); 
	-moz-transform-origin: top left;
	-webkit-transform: rotate(-270deg);
	-webkit-transform-origin: top left;
	-o-transform: rotate(-270deg);
	-o-transform-origin:  top left;
	filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=1);
}
.nov8 {
	margin-top:  -80px;
	z-index: 9;
}
form.custom div.custom.dropdown { margin-bottom: 13px; height: auto }
form.custom div.custom.dropdown a.current { padding-top: 2px; padding-bottom: 2px; -moz-border-radius: 2px; -ms-border-radius: 2px; -o-border-radius: 2px; border-radius: 2px; }
form.custom div.custom.dropdown a.selector { height: 32px; }
form.custom div.custom.dropdown ul { top: 32px; }
form.custom div.custom.dropdown ul li { padding-top: 5px; padding-bottom: 5px; }


#mc_embed_signup #mce-error-response { 
	display:none;
	padding: 6px 4px;
	margin: 12px;
	background: #C60F13;
	color: white;
	font-size: 14px;
	font-size: 1.4rem;
	font-weight: bold;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	border-radius: 4px;
}
#mc_embed_signup #mce-success-response { 
	display:none;
	padding: 6px 4px;
	margin: 12px;
	background: #529214;
	color: white;
	font-size: 14px;
	font-size: 1.4rem;
	font-weight: bold;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	border-radius: 4px;
}
/* -----------------------------------------
   our-story
----------------------------------------- */

.our-story {
	margin-top: 30px;
}
#our-story-text  p {
	font-family: "Times New Roman", Times, serif;
	font-size: 46px;
}
#our-story-text  p strong.shadow{
	text-shadow: 1px 1px 1px #000;
}
#our-story-text .ny {
	margin-left: 130px;
	margin-top: 0px; 
	font-size: 106px; 
	width: 465px;
	font-weight: bold;
	background: #a3c3e3;
	z-index: 2;
}
#our-story-text .ldn {
	margin-left: 220px;
	margin-top: 0px; 
	font-size: 141px;
	width: 465px;
	font-weight: bold;
	background: #a3c3e3;
}
.ie6 .ny, .ie7 .ny, .ie8 .ny, .ie9 .ny {
	margin-left: -50px !important;
}
.ie6 .ldn, .ie7 .ldn, .ie8 .ldn, .ie9 .ldn {
	margin-left: 0px !important;
}
#our-story-text .cites {
	margin-left:-90px; 
	z-index:3;
	font-weight: bold;
	text-shadow: 1px 1px 1px #000;
}
#our-story-text .she-said {
	margin-top: -15px; 
	font-size: 60px;
	text-align:center;
}
#our-story-text  #yes {
	margin-top: -15px; 
	font-size: 190px;
}


/* -----------------------------------------
   our-wedding-party
----------------------------------------- */

.party {
	margin-top: 30px;
}
#party-text  p{
	color: #006;
	font-size: 16px;
}
#party-text strong {
	color: #960;
	font-size: 23px;
}
#party-text  img{
	margin-bottom: 50px;
}
#party-text .dg{
	color: #444;
}

/* -----------------------------------------
   the-big-day
----------------------------------------- */

.day {
	margin-top: 30px;
}
#day-text {
	padding-top:30px;
	padding-bottom:30px;
}
#day-text p{
	color: #006;
	font-size: 16px;
}

/* -----------------------------------------
   out-of-towners
----------------------------------------- */

.town {
	margin-top: 30px;
}
#town-text p{
color: #006;
font-size: 16px;
}
#town-text h3{
	color: #960;
}

/* -----------------------------------------
   gift-registery
----------------------------------------- */

.gift {
	margin-top: 30px;
}

#gift-text p{
color: #006;
font-size: 16px;
}

/* -----------------------------------------
   rsvp
----------------------------------------- */

.rsvp {
	margin-top: 30px;
}
#rsvp-text p{
color: #006;
font-size: 16px;
}

.name2, .name3, .name4 {
	display: none;
}

/* -----------------------------------------
   footer
----------------------------------------- */

#wrap {
	min-height: 100%;
}
.ie6  #wrap {
	display:table;
	height:100%;
}
#main {
	overflow:auto;
	padding-bottom: 102px; /* must be same height as the footer */
} 
#footer {
	position: relative;
	margin-top: -102px; /* negative value of footer height */
	height: 102px;
	background: #000066; 
	background-image:  url('../images/foot.png');
	background-repeat: no-repeat;
	background-position: center 20px;
	color: #6699cc; 
	width:100%;
	clear:both;
} 
#footer p {
	line-height: 20px;
	margin-bottom: 0px;
}
/*Crazy Opera Fix*/
body:before {
	content:"";
	height:100%;
	float:left;
	width:0;
	margin-top:-32767px;
}